.task-item {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 70vw;
  margin-bottom: 10px;
  background-color: #ededed;
}

.task-details {
  margin-bottom: 5px;

  label {
    font-weight: bold;
  }
}

.task-details div {
  margin-bottom: 5px;
}

.task-actions {
  display: flex;
  flex-direction: column;
}

.task-actions .btn {
  width: 100%;
  margin-bottom: 3px;
}

.task-actions .btn-success {
  background-color: rgba(60, 118, 61, 0.8);
}

.task-actions .btn-danger {
  background-color: rgba(220, 53, 69, 0.8);
}

.task-actions .btn-primary {
  background-color: rgba(0, 123, 255, 0.8);
}
