<div class="add-task-container">
  <h3>Provide Task Details</h3>
  <form #taskDataForm="ngForm" (ngSubmit)="addTask()">
    <div class="form-group">
      <label for="title">*Title:</label>
      <input
        type="text"
        class="form-control"
        id="title"
        [(ngModel)]="newTask.title"
        name="title"
        required
      />
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        id="description"
        [(ngModel)]="newTask.description"
        name="description"
        rows="3"
        maxlength="60"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      style="margin-top: 8px"
      [disabled]="!taskDataForm.valid"
    >
      Submit
    </button>

    <div class="mb-3" *ngIf="errorMessage" class="text-danger">
      {{ errorMessage }}
    </div>
  </form>
</div>
